uwsgi
Flask
requests
pika
prometheus_client
splunk-opentelemetry[all]
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-wsgi
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-pika
